<div class="container-fluid overflow-scroll" style="height:87vh">
    <div class="row gx-3 gy-4 justify-content-center">

        <div class="col-10 col-sm-6 col-lg-4">
            <div class="p-3 shadow rounded">
                <div class="d-flex align-items-center justify-content-center fs-5 p-2">
                    <i class="bi bi-people-fill btn btn-primary bg-blue btn-circle me-3"></i>
                    <p>
                        Total Customers<br>
                        <span>{{totalCustomers}}</span>
                    </p>
                </div>
                <div class=" text-end">
                  <a href="#!/customers" class="text-success mb-0">View More</a>  
                </div>
            </div>
        </div>

        <div class="col-10 col-sm-6 col-lg-4">
            <div class="p-3 shadow rounded">
                <div class="d-flex align-items-center justify-content-center fs-5 p-2">
                    <i class="bi bi-cart-fill btn btn-success  btn-circle me-3"></i>
                    <p>
                        Total Sales<br>
                        <span>{{totalOrdersPrice | currency}}</span>
                    </p>
                </div>
                <div class=" text-end ">
                    <a class="text-success mb-0">View More</a> 
                </div>
            </div>
        </div>
        
        <div class="col-10 col-sm-6 col-lg-4">
            <div class="p-3 shadow rounded">
                <div class="d-flex align-items-center justify-content-center fs-5 p-2">
                    <i class="bi bi-box-seam-fill btn btn-danger btn-circle me-3"></i>
                    <p>
                        Out Of Stock<br>
                        <span>{{totalOutOfStock}}</span>
                    </p>
                </div>
                <div class=" text-end">
                    <a href="#!/outofstock" class="text-success mb-0">View More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-4 gap-3">
        <div class="col-12 col-sm-10 col-md-9 bg-white shadow rounded mt-3">
            <div class="d-flex justify-content-between align-items-center p-3 border-bottom">
                <span class="fs-5 text-secondary">Recent Orders</span>
                <a href="#!/orders" class="text-decoration-none text-blue">See More <i class="bi bi-chevron-right"></i></a>
            </div>
            <table class="table" >
                <tr class="">
                    <td class="text-secondary">Name</td>
                    <td class="text-secondary">Date</td>
                    <td class="text-secondary">Total Price</td>
                    <td class="text-secondary">Status</td>
                </tr>
                <tr ng-repeat="order in filteredOrders =(orders |limitTo:5 | orderBy: '-date' )">
                    <td>{{order.customers.name}}</td>
                    <td>{{order.date | date}}</td>
                    <td>{{order.total | currency}}</td>
                    <td>{{order.status}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

